################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiThreadedReactiveUI/obj/Debug
/MultiThreadedReactiveUI/bin/Debug
/~$ET Task.docx
/MultiThreadedReactiveUI/.vs/MultiThreadedReactiveUI/v14
/MultiThreadedReactiveUI/packages
